.*
*.pid
*.xml
*.csr
*.crt
*.key
*.sh
*.json
*.conf
*.db-journal
*.bak
*.off
*.html
core
feedreader.pickle
home-assistant.log
home-assistant_v2.db*
appdaemon
custom_components
deps
esphome
glances
panels
tts
www
secrets.yaml
known_devices.yaml
google_calendars.yaml
themes/*.yaml
!.gitignore
alexa_media.*

